<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<form action="/mes/addOrder" method="POST">


    <label for="companyId">업체 ID:</label>
    <input type="text" id="companyId" name="companyId"><br><br>



    <label for="productId">제품 ID:</label>
    <input type="text" id="productId" name="productId"><br><br>

    <label for="orderQuantity">주문 수량:</label>
    <input type="number" id="orderQuantity" name="orderQuantity"><br><br>

    <label for="orderPrice">주문 가격:</label>
    <input type="number" id="orderPrice" name="orderPrice"><br><br>

    <label for="deliveryDate">납품 일자:</label>
    <input type="datetime-local" id="deliveryDate" name="deliveryDate"><br><br>

    <label for="orderStatus">주문 상태:</label>
    <select id="orderStatus" name="orderStatus">
        <option value="A">주문접수</option>
        <option value="B">수주확정</option>
        <option value="C">생산계획 완료</option>
    </select><br><br>

    <input type="submit" value="저장">
</form>



<table>
    <tr>
        <th>수주 번호</th>
        <th>회사 ID</th>
        <th>주문 날짜</th>
        <th>제품 ID</th>
        <th>주문 수량</th>
        <th>주문 가격</th>
        <th>납품 일자</th>
        <th>주문 상태</th>
        <th>삭제</th>
        <th>수정</th>
    </tr>
    <!-- Orders 목록을 반복해서 출력 -->
    <th:block th:each="order : ${orderList}">
        <tr>
            <td th:text="${order.orderNo}"></td>
            <td th:text="${order.companyId}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.productId}"></td>
            <td th:text="${order.orderQuantity}"></td>
            <td th:text="${order.orderPrice}"></td>
            <td th:text="${order.deliveryDate}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td>
                <form th:action="@{/mes/deleteOrder/{orderNo}(orderNo=${order.orderNo})}" method="get">
                    <button type="submit">삭제</button>
                </form>
            </td>
            <td>
                <form th:action="@{/mes/orderUpdate/{orderNo}(orderNo=${order.orderNo})}" method="get">
                    <button type="submit"> 수정 </button>
                </form>

            </td>
        </tr>
    </th:block>
</table>



</body>
</html>